@import url('https://fonts.googleapis.com/css?family=Ubuntu');

* {
    font-family: 'Ubuntu', sans-serif;
}

header {
    z-index: 100;
    position: fixed;
    width: 100vw;
    background: #1D1D1B;
    padding: 16px;
    display: flex;
    flex-direction: row;
    color: white;
    height: fit-content;
    box-sizing: border-box;
}

header > h1 {
    margin: 0;
    width: fit-content;
    padding-left: 24px;
    padding-right: 24px;
    text-shadow: 1px 1px 5px black;
    letter-spacing: 3px;
    font-size: 55px;
    text-align: center;
}

header > .menu {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 16px;
    display: block;
    width: fit-content;
    height: fit-content;
}

.menu > button {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
}

.menu > .nav-items {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

.menu >.nav-items > * {
    display: block;
    font-size: 15px;
    transition: 0.5s;
    padding: 8px;
    margin: 0;
    text-transform: uppercase;
}

.menu > .nav-items:hover > * {
    filter: blur(2px);
}

.menu > .nav-items > *:hover {
    transform: scale(1.3);
    filter: none;
    margin-left: 8px;
    margin-right: 8px;
}

.menu > .nav-items a {
    color: inherit;
    text-decoration: none;
}

.only-mobile {
    display: none;
}

@media screen and (max-width: 480px) {
    .only-desktop {
        display: none;
    }
    .only-mobile {
        display: initial;
    }
    header {
        padding: 0;
        height: min-content;
        flex-direction: row;
    }
    header > h1 {
        margin: 0;
        width: fit-content;
        padding-left: 24px;
        padding-right: 24px;
    }
    .menu {
        margin: initial !important;
        height: initial !important;
        position: relative;
        flex-grow: 1;
        border-left: solid 1px white;
    }
    .menu > button {
        width: 100%;
        height: 100%;
        transition: 0.5s;
    }
    .menu > .nav-items {
        transition: 0.5s;
        position: absolute;
        top: 0;
        width: 100%;
        flex-direction: column;
        height: fit-content;
        transform-origin: 0 0;
        transform: scaleY(0);
        overflow: hidden;
        border-bottom-left-radius: 10px;
        box-sizing: border-box;
    }
    .menu > .nav-items > * {
        text-align: center;
    }
    .menu > .nav-items:hover > * {
        filter: none;
    }
    .menu > button:focus {
        pointer-events: none;
        opacity: 0;
    }
    .menu > button:focus ~ .nav-items {
        z-index: 101;
        transform: scaleY(1);
        background: #333330;
        box-shadow: 0px 0px 10px 1px black;
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: center;
    }
}